.all-die {
    padding: 40px;
    width: 900px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}

.die-title {
    height: 40px;
    border-bottom: 2px solid #c20c0c;
}

.die-title>h3 {
    float: left;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
}

.tab {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.tab > a {
    color: #666;
}

.tab > span {
    margin: 0 10px;
    font-weight: bold;
    color: #dcccdc;
}

.all-die ul {
    margin: 20px 0 0 -33px;
}

.all-die li {
    float: left;
    padding: 0 0 30px 33px;
}


/*碟*/

.m-bg {
    width: 153px;
    height: 178px;
}

.b-img {
    width: 153px;
    height: 130px;
    margin-bottom: 7px;
    position: relative;
}

.b-img > .msk {
    width: 153px;
    height: 130px;
    position: absolute;
    left: 0;
    top: 0;
    background-position: 0 -845px;
}

.b-img:hover > .play {
    position: absolute;
    left: 94px;
    bottom: 5px;
    width: 28px;
    height: 28px;
    background-position: 0 -140px;
}

.b-img:hover > .play:hover {
    background-position: 0 -170px;
}

.m-bg p {
    margin: 8px 0 3px;
    width: 100%;
    font-size: 14px;
    color: #000;
    line-height: 1.2;
}

.m-bg p > a {
    width: 100%;
    display: inline-block;
}

.m-bg p.dec {
    margin: 0;
    font-size: 12px;
}

.m-bg p.dec a {
    color: #666;
}


/*分页*/

.u-page {
    margin: 20px 0;
    text-align: center;
}

.u-page a {
    background: url(../img/sprites/button.png) no-repeat 0 99999px;
}

.u-page a:hover {
    text-decoration: none;
}

.u-page .zbtn {
    height: 24px;
    line-height: 24px;
    color: #333;
    text-align: left;
    padding: 0;
}

.u-page .zbtn,
.u-page .zpgi {
    margin: 0 1px 0 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
}

.u-page .zprv {
    width: 47px;
    padding-left: 22px;
    background-position: 0 -560px;
}

.u-page .zprv:hover {
    background-position: 0 -590px;
}

.u-page .znxt {
    width: 57px;
    padding-left: 12px;
    background-position: -75px -560px;
}

.u-page .znxt:hover {
    background-position: -75px -590px;
}

.u-page .zprv.js-disable,
.u-page .zprv.js-disable:hover {
    background-position: 0 -620px;
    color: #cacaca;
    cursor: default;
}

.u-page .znxt.js-disable,
.u-page .znxt.js-disable:hover {
    background-position: -75px -620px;
    color: #cacaca;
    cursor: default;
}

.u-page .zpgi {
    height: 22px;
    padding: 0 8px;
    background-color: #fff;
    line-height: 22px;
}

.u-page .zpgi:hover {
    border-color: #666;
}

.u-page .js-selected,
.u-page .js-selected:hover {
    background-position: 0 -650px;
    border-color: #A2161B;
    color: #fff;
    cursor: default;
}
