<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title th:text="${song.songName}">音乐推荐系统</title>
    <link rel="stylesheet" type="text/css" href="/css/core.css">
    <link rel="stylesheet" type="text/css" href="/css/gequ.css">
    <link rel="shortcut icon" type="text/css" href="/favicon.ico">
</head>

<body>
    <!--公共头部-->
    <div id="g-topbar" class="g-topbar">
        <!--上层bar-->
        <div class="m-top">
            <div class="wrap g-ww">
                <!--导航部分-->
                <ul class="m-nav" id="m-nav">
                    <li><a href="/"><img src="/img/registAndLoginPage/newlogo.png" style="width: 256px; height: 70px"/></a></li>
                    <li>
                        <a  href="/" hidefocus="true">
                            <em>发现音乐</em>
                            <sub>&nbsp;</sub>
                        </a>
                    </li>
                    <li>
                        <a href="/toRanking">
                            <em>排行榜</em>
                            <sub>&nbsp;</sub>
                        </a>
                    </li>
                    <li>
                        <a class="active" href="/toPlaylist">
                            <em>歌单</em>
                            <sub>&nbsp;</sub>
                        </a>
                    </li>

                </ul>
                <div class="m-login">
                    <a href="/toLogin"  th:if="${session.user} eq null" id="a-login">登录</a>
                    <a ><span th:if="${session.user} ne null" th:text="${session.user.uname}"></span></span></a>

                </div>
                <div class="m-search">
                    <input type="text" placeholder="单曲/歌手/专辑/歌单/MV/用户">
                </div>

            </div>
        </div>
        <!--中层bar-->
        <div class="m-center"></div>
    </div>
    <!-- main部分 -->
    <div class="main g-w clearfix">
        <div class="m-lt">
            <!-- 单曲 -->
            <div class="danqu clearfix">
                <div class="gequ-logo">
                    <img th:src="${singer.singerImg} == 'null' ? '/img/singer/jay.jpg' :${singer.singerImg}">
                    <span class="gequ-logo-sp g-coverall"></span>
                </div>
                <div class="cnt">
                    <div class="hd clearfix">
                        <i class="g-icon"></i>
                        <span class="name" th:text="${song.songName}">告白气球</span>
                    </div>
                    <p class="des">歌手：<a href="#" class="s-fc7" th:text="${singer.singerName}">周杰伦</a></p>
                    <p class="des">专辑id：<a href="#" class="s-fc7" th:text="${song.alID}">周杰伦的床边故事</a></p>
                    <p class="des">歌曲大小：<a href="#" class="s-fc7" th:text="${song.songSize} + ' bit'">周杰伦的床边故事</a></p>
                    <br>
                    <div class="m-info clearfix">
                        <a href="javascript:;" class="a-play a-btn m-btn">
                            <i class="m-btn"><em class="ply m-btn"></em>播放</i>
                        </a>
                        <a href="javascript:;" class="a-btn m-btn a-fav">
                            <i class="m-btn">收藏</i>
                        </a>
                        <a href="javascript:;" class="a-btn m-btn a-dl">
                            <i class="m-btn">下载</i>
                        </a>
                    </div>
                    <div class="geci" >
<!--                        预览部分-->
                        <div th:utext="${halfLysics}"></div>
                        <div id="flag_more" class="f-hide" th:utext="${lastLysics}">
                        </div>

                    </div>
                    <div class="crl">
                        <a href="javascript:;" id="flag_crl" class="s-fc7"><span>展开</span><i class="g-icon zk"></i></a>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="20" width=650 height=120 th:src="@{//music.163.com/outchain/player?type=2&id=} + ${song.songID} + '&auto=1&height=66'"></iframe>

            <br><br><br><br>
            <!-- 评论 -->
            <div class="pinglu">
                <div class="pl-title">
                    <h3>
                            <span>评论</span>
                        </h3>
                    <span>共<span>14292</span>条评论</span>
                </div>

            </div>
        </div>

        <div class="m-rt">
            <div class="m-singer">
                <h3 class="m-rt-h">
<!--                <a href="#">查看全部></a>-->
                <span>包含这首歌的歌单</span>
            </h3>
                <ul class="clearfix" >
                    <li th:if="${playlists} ne null"   th:each="i: ${playlists}">
                        <a href="#">
                            <a th:href="@{/playlist/getSinglePlaylistInfo/} + ${i.playlistID}"><img th:src="${i.playlistCoverUrl}"   style="width: 60px; height: 60px" alt=""></a>
                            <div>
                                <h4>
                                <a th:text="${i.playlistName}" th:href="@{/playlist/getSinglePlaylistInfo/} + ${i.playlistID}">张惠妹aMEI</a>
                            </h4>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="m-dj">
                <h3 class="m-rt-h">
                <span>热门DJ</span>
            </h3>
                <ul>
                    <li>
                        <a href="#">
                            <img src="/img/singer/dj_03.jpg" alt="">
                        </a>
                        <div class="info">
                            <a href="#">灵伟</a>
                            <sub>&nbsp;</sub>
                            <p class="g-thide">电台DJ、资深乐评人</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/singer/dj_02.jpg" alt="">
                        </a>
                        <div class="info">
                            <a href="#">庞舸</a>
                            <sub>&nbsp;</sub>
                            <p class="g-thide">深圳电台飞扬971主持人</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/singer/dj_04.jpg" alt="">
                        </a>
                        <div class="info">
                            <a href="#">林海</a>
                            <sub>&nbsp;</sub>
                            <p class="g-thide">著名音乐节目主持人</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/singer/dj_02.jpg" alt="">
                        </a>
                        <div class="info">
                            <a href="#">阿鹏叔</a>
                            <sub>&nbsp;</sub>
                            <p class="g-thide">桒惪SOUND创办人</p>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/img/singer/dj_05.jpg" alt="">
                        </a>
                        <div class="info">
                            <a href="#">DJ晓苏</a>
                            <sub>&nbsp;</sub>
                            <p class="g-thide">独立DJ，CRI环球旅游广播特邀DJ</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--公共底部-->
    <div class="g-footer" style="bottom: -85px">
        <div class="g-w">
            <a href="#" class="a-one">
                <span class="f-f3">音乐推荐系统</span>
                <br>
                <span class="f-f4">基于协同过滤及内容推荐</span>
            </a>
            <div class="copy">
                <p>
                    <span>·</span><a href="http://www.beian.miit.gov.cn/">粤ICP备20008693号</a><span>·</span>
                    <br><a href="javascript:;">Copyright © 2020</a>
                </p>
            </div>
        </div>
    </div>
    <a href="#" id="g_back" class="m-back g-sprite">回到顶部</a>
</body>

<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/music.js"></script>
<script type="text/javascript" src="/js/gequ.js"></script>

</html>
